{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.workflow
    Systemd_Filter  _SYSTEMD_UNIT=workflow.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.workflow
    Key_Name      message
    Parser        workflow
    Reserve_Data  On
