{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.mdm_server
    Systemd_Filter  _SYSTEMD_UNIT=mdm-server.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.mdm_server
    Key_Name      message
    Parser        mdm-server
    Reserve_Data  On
