{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.anomaly_detection_anomaly_detector
    Systemd_Filter  _SYSTEMD_UNIT=anomaly-detection-anomaly-detector.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.anomaly_detection_anomaly_detector
    Key_Name      message
    Parser        anomaly-detection-anomaly-detector
    Reserve_Data  On
