---
{{ ansible_managed | comment }}

server.port: {{ opensearch_dashboards_server_port }}
server.host: 0.0.0.0

path.data: {{ opensearch_dashboards_data_dir }}

opensearch.hosts: {{ opensearch_hosts }}

#opensearch.ssl.verificationMode: none
#opensearch.username: "kibanaserver"
#opensearch.password: "{{ opensearch_kibana_password | default('') }}"
#opensearch.requestHeadersWhitelist: [ authorization,securitytenant ]

{% if opensearch_dashboards_config %}
{{ opensearch_dashboards_config | to_nice_yaml(indent=2) }}
{% endif %}
