{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.comment
    Systemd_Filter  _SYSTEMD_UNIT=comment.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.comment
    Key_Name      message
    Parser        comment
    Reserve_Data  On
