{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.keycloak
    Systemd_Filter  _SYSTEMD_UNIT={{ keycloak_service_name }}.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.keycloak
    Key_Name      MESSAGE
    Parser        keycloak
    Reserve_Data  On
