{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.dpe
    Systemd_Filter  _SYSTEMD_UNIT=dpe.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.dpe
    Key_Name      message
    Parser        dpe
    Reserve_Data  On
