{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.dmm
    Systemd_Filter  _SYSTEMD_UNIT=dmm.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.dmm
    Key_Name      message
    Parser        dmm
    Reserve_Data  On
