{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name    tail
    Tag     console.nginx_error
    Path    /var/log/nginx/error.log
    Parser  nginx
