{{ ansible_managed | comment }}

############################
# Inputs
############################

[INPUT]
    Name            systemd
    Tag             console.mde_lineage
    Systemd_Filter  _SYSTEMD_UNIT=mde-lineage.service

############################
# Filters
############################

[FILTER]
    Name          parser
    Match         console.mde_lineage
    Key_Name      message
    Parser        mde-lineage
    Reserve_Data  On
